# ============================================
# DATABASE (apps/db, packages/prisma)
# ============================================
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=monex-root-template-v2-db
DB_PORT=5433
DB_CONTAINER_NAME=monex-root-template-v2-db

# Prisma connection string (auto-constructed from DB_* variables)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

# ============================================
# BACKEND APIs
# ============================================
# API Port
API_PORT=3001


# ============================================
# FRONTEND APPS
# ============================================
# API URL for Web to call API
NEXT_PUBLIC_API="http://localhost:3001"

# ============================================
# GENERAL
# ============================================
# Node environment
NODE_ENV=development
